[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dorian/Desktop/steam.desktop]
row=3
col=0

[/home/dorian/Desktop/Battle.net.desktop]
row=5
col=0

[/home/dorian/Desktop/Diablo III.desktop]
row=6
col=0

[/home/dorian/Desktop/League of Legends.desktop]
row=4
col=0

[2020-05-09-10-43-54-00]
row=7
col=0

[7932b3b6-df15-499b-89ff-ab51d327b1eb]
row=8
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/dorian]
row=2
col=0

