[user]
    email = dorian.haglund@trust-in-soft.com
    name = Dorian Haglund
[core]
    pager = less -F -X
[push]
    default = current
[difftool]
    prompt = 0
    tool = gvimdiff

[diff]
    tool = gvimdiff

[alias]
    dt = difftool
    co = checkout
    st = status
    adog = log --all --decorate --oneline --graph
    follow = log -p -M --follow --stat --
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
